<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div class="search-admin">
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="/admin" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form method="" class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" name="search" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            {{#if session.user.image}}
                            <img class="rounded-circle me-lg-2" src="/public/img/user/{{session.user.image}}"
                                alt="avatar" style="width: 50px; height: 50px;">
                            {{else}}
                            <img src="/public/img/Avatar-trang.png" alt="avatar" style="width: 40px; height: 40px;">
                            {{/if}}
                            <span class="d-none d-lg-inline-flex"
                                style="text-transform:capitalize;">{{session.user.name}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="/info" class="dropdown-item">Thông tin cá nhân</a>
                            <a href="/user/logout" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->

        <!-- Sales Chart Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Biểu đồ theo ngày tham gia</h6>
                        <canvas id="char_join_date"></canvas>
                        <input hidden="hidden" id="join_date" value="{{value.join_date}}">
                        <input hidden="hidden" id="sl_theongay" value="{{value.sl_theongay}}">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Biểu đồ theo buổi học</h6>
                        <canvas id="myChart"></canvas>
                        <input hidden="hidden" id="so_luong_dk" value="{{value.so_luong_dk}}">
                        <input hidden="hidden" id="class_name" value="{{value.class_name}}">
                    </div>
                </div>
            </div>
        </div>
        <!-- Sales Chart End -->


        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Lượt tham gia mới</h6>
                    <a href="">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                {{!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> --}}
                                <th scope="col">Giờ đăng ký</th>
                                <th scope="col">Mã lớp</th>
                                <th scope="col">Lớp</th>
                                <th scope="col">Người tham gia</th>
                                <th scope="col">Tham gia vào ngày</th>
                                <th scope="col">Checkout</th>
                                <th scope="col">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each value.history}}
                            <tr>
                                {{!-- <td><input class="form-check-input" type="checkbox"></td> --}}
                                <td>{{registration_time}}</td>
                                <td>{{class_id}}</td>
                                <td>{{class_name}} - {{room_address}}</td>
                                <td>{{name}}</td>
                                <td>{{join_date}}</td>

                                {{#ifCond cancellation_time "!=" "Invalid date"}}
                                <td>{{cancellation_time}}</td>
                                {{else }}
                                <td>Tham gia</td>
                                {{/ifCond}}
                                {{#ifCond cancellation_time "!=" "Invalid date" }}
                                <td class="canceled">Đã huỷ</td>
                                {{else ifCond status ">" 0}} <td class="took_place">Đã diễn ra</td>
                                {{else}}
                                <td><button id="cancel_class">Sắp diễn ra</button>
                                    {{/ifCond}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->

    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>