{{!-- <!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-2 text-uppercase text-white mb-md-4">Blog Grid</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
            <a href="" class="btn btn-light py-md-3 px-md-5">Blog</a>
        </div>
    </div>
</div>
<!-- Hero End --> --}}

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0">
                {{#each blog}}
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="{{this.image}}" alt="">
                    </div>
                    <div class="bi-text">
                        <h5><a href="/blog/id/{{this.blog_id}}">{{this.name}}</a></h5>
                        <ul>
                            <li>{{this.author}}</li>
                            <li>{{this.date_create_blog}}</li>
                            <li>20 Comment</li>
                        </ul>
                        <p>Bài viết chia sẻ kiến thức về topic thứ {{this.topic_id}}</p>
                    </div>
                </div>
                {{/each}}
                <div class="blog-pagination">
                    {{#list numPage number_page}}
                    {{this}}
                    {{/list}}
                    {{#if page_topic}}
                    <a href="/blog/topic/{{page_topic}}/{{pagenext}}">Next</a>
                    {{else}}
                    <a href="/blog/page/{{pagenext}}">Next</a>
                    {{/if}}

                </div>
            </div>
            <div class="col-lg-4 col-md-8 p-0">
                <div class="sidebar-option">
                    <div class="so-categories">
                        <h5 class="title">Danh mục</h5>
                        <ul>
                            {{#each topic}}
                            {{#if active}}
                            <li><a href="/blog/topic/{{this.topic_id}}/1" name="{{this.topic_id}}" id="active"> {{this.name}}
                                    <span>{{this.count}} </span></a></li>
                            {{else}}
                            <li><a href="/blog/topic/{{this.topic_id}}/1" name="{{this.topic_id}} "> {{this.name}}
                                    <span>{{this.count}} </span></a></li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                    <div class="so-latest">
                        <h5 class="title">Những bài viết mới</h5>
                        {{#each new_blog}}
                        <div class="latest-large set-bg" data-setbg="{{image}}">
                            <div class="ll-text">
                                <h5><a href="/blog/{{blog_id}}">{{name}}</a></h5>
                                <ul>
                                    <li>{{date_create_blog}}</li>
                                </ul>
                            </div>
                        </div>
                        {{/each}}
                        {{#each new_blogs}}
                        <div class="latest-item">
                            <div class="li-pic">
                                <img class="img-newblog" src="{{image}}" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="/blog/{{blog_id}}">{{name}}</a></h6>
                                <span class="li-time">{{date_create_blog}}</span>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="so-tags">
                        <h5 class="title">Popular tags</h5>
                        <a href="#">Gyming</a>
                        <a href="#">Body buidling</a>
                        <a href="#">Yoga</a>
                        <a href="#">Weightloss</a>
                        <a href="#">Proffeponal</a>
                        <a href="#">Streching</a>
                        <a href="#">Cardio</a>
                        <a href="#">Karate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->