<!-- Class Timetable Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
        <h5 class="text-primary text-uppercase">Lịch lớp học</h5>
        <h1 class="display-3 text-uppercase mb-0">stronger than yesterday</h1>
    </div>
    <!-- Class Timetable Section Begin -->
    <section class="class-timetable-section class-details-timetable spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-details-timetable_title">
                        <h5> Thời khoá biểu tập luyện</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable details-timetable">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Thứ hai</th>
                                    <th>Thứ ba</th>
                                    <th>Thứ tư</th>
                                    <th>Thứ năm</th>
                                    <th>Thứ sáu</th>
                                    <th>Thứ bảy</th>
                                    <th>Chủ nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="class-time">6.00am - 8.00am</td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                        <div class="dropdown">
                                            <h5 class="dropbtn">WEIGHT LOOSE</h5>
                                            <span >Oanh Võ</span>
                                            <div class="dropdown-content">
                                                <div class="">
                                                    <div class=" ">
                                                        <h6 class="time">6h30 -    7h30</h6>
                                                        <h2 class="title_class">Giảm cân </h2>
                                                        <h6 class="name_trainer"> Giảng viên Hoa</h6>
                                                        <p class="space"> Còn trống 20/25 học viên
                                                          </p>
                                                        <p class="room"> Phòng 102 </p>
                                                        <button class="register_class" type="submit">Đăng
                                                            ký khoá học</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr width="100%" size="5px" align="center" />
                                        <h5>WEIGHT LOOSE</h5>
                                        <span>RLefew D. Loee</span>
                                    </td>
                                    <td class="hover-dp ts-meta" data-tsmeta="fitness">
                                        <h5>Cardio</h5>
                                        <span>RLefew D. Loee</span>
                                    </td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                        <h5>Yoga</h5>
                                        <span>Keaf Shen</span>
                                    </td>
                                    <td class="hover-dp ts-meta" data-tsmeta="fitness">
                                        <h5>Fitness</h5>
                                        <span>Kimberly Stone</span>
                                    </td>
                                    <td class="dark-bg blank-td"></td>
                                    <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                        <h5>Boxing</h5>
                                        <span>Rachel Adam</span>
                                    </td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                        <h5>Body Building</h5>
                                        <span>Robert Cage</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="class-time">10.00am - 12.00am</td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                        <h5>Fitness</h5>
                                        <span>Kimberly Stone</span>
                                    </td>
                                    <td class="hover-dp ts-meta" data-tsmeta="workout">
                                        <h5>WEIGHT LOOSE</h5>
                                        <span>RLefew D. Loee</span>
                                    </td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="motivation">
                                        <h5>Cardio</h5>
                                        <span>RLefew D. Loee</span>
                                    </td>
                                    <td class="hover-dp ts-meta" data-tsmeta="workout">
                                        <h5>Body Building</h5>
                                        <span>Robert Cage</span>
                                    </td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="motivation">
                                        <h5>Karate</h5>
                                        <span>Donald Grey</span>
                                    </td>
                                    <td class="blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time">5.00pm - 7.00pm</td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                        <h5>Boxing</h5>
                                        <span>Rachel Adam</span>
                                    </td>
                                    <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                        <h5>Karate</h5>
                                        <span>Donald Grey</span>
                                    </td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                        <h5>Body Building</h5>
                                        <span>Robert Cage</span>
                                    </td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                        <h5>Yoga</h5>
                                        <span>Keaf Shen</span>
                                    </td>
                                    <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                        <h5>Cardio</h5>
                                        <span>RLefew D. Loee</span>
                                    </td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                        <h5>Fitness</h5>
                                        <span>Kimberly Stone</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="class-time">7.00pm - 9.00pm</td>
                                    <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                        <h5>Cardio</h5>
                                        <span>RLefew D. Loee</span>
                                    </td>
                                    <td class="dark-bg blank-td"></td>
                                    <td class="hover-dp ts-meta" data-tsmeta="fitness">
                                        <h5>Boxing</h5>
                                        <span>Rachel Adam</span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class Timetable Section End -->
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white active" data-bs-toggle="pill" href="#tab-1">Thứ hai</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-2">Thứ ba</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-3">Thứ tư</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-4">Thứ năm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-5">Thứ sáu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-6">Thứ bảy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-7">Chủ nhật</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-5">
                    {{#each class.fitness_class_2 }}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-1">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            giáo viên hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - phòng {{this.room_address}}</p>
                            {{!-- {{#if user_id}} --}}
                            <form method="post" action="/class">
                                <input type="hidden" name="fitness_class" value="{{this.class_id}}">
                                <button class="btn btn--radius-2 btn--orange">Đăng ký buổi học</button>
                            </form>
                            {{!-- {{else}}
                            <a href="/user/login/">
                                <button class="btn btn--radius-2 btn--orange"> Đăng nhập </button>
                            </a>
                            {{/if}} --}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_3}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} thứ 3 </h5>
                            giáo viên hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - phòng {{this.room_address}}</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-3" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_4}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            giáo viên hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-4" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_5}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            giáo viên hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-5" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_6}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            giáo viên hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-6" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_7}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            giáo viên hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-7" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_8}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            giáo viên hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Class Timetable Start -->