{{!--
<!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-2 text-uppercase text-white mb-md-4">Classes</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
            <a href="" class="btn btn-light py-md-3 px-md-5">Classes</a>
        </div>
    </div>
</div>
<!-- Hero End --> --}}
<!-- Class Timetable Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
        <h5 class="text-primary text-uppercase">Lịch lớp học</h5>
        <h1 class="display-3 text-uppercase mb-0">stronger than yesterday</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white active" data-bs-toggle="pill" href="#tab-1">Thứ hai</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-2">Thứ ba</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-3">Thứ tư</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-4">Thứ năm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-5">Thứ sáu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-6">Thứ bảy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-7">Chủ nhật</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-5">
                    {{#each class.fitness_class_2 }}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-1">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            thầy hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            {{#if user_id}}
                            <form method="post" action="/class">
                                <input type="hidden" name="fitness_class" value="{{this.class_id}}">
                                <button class="btn btn--radius-2 btn--orange" >Đăng ký khoá học</button>
                            </form>
                            {{else}}
                                <a href="/user/login/">
                                <button class="btn btn--radius-2 btn--orange"> Đăng nhập </button>
                                </a>
                            {{/if}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_3}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} thứ 3 </h5>
                            thầy hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-3" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_4}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            thầy hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-4" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_5}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            thầy hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-5" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_6}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            thầy hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-6" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_7}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            thầy hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-7" class="tab-pane p-0 ">
                <div class="row g-5">
                    {{#each class.fitness_class_8}}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-4 px-3">
                            <h6 class="text-uppercase text-light mb-3">{{this.start_time}} - {{this.end_time}}</h6>
                            <h5 class="text-uppercase text-primary">{{this.name}} </h5>
                            thầy hướng dẫn:
                            <h5 class="text-capitalize text-primary">{{this.trainer}}</h5>
                            <p class="text-secondary mb-0">{{this.maximum}} học viên - {{this.price}}đ</p>
                            <button class="btn btn--radius-2 btn--orange" type="submit">Đăng ký khoá học</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Class Timetable Start -->