<div class="col-sm-6 col-lg-4">
    <a href="/blog/{{blog.blog_id}}">
        <div class="card">
            <img src=" {{blog.image}}" class=" {{blog.name}}" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{blog.name}} </h5>
                <p class="card-text"> {{blog.description}}</p>
                <a href="#" class="btn btn-primary">chi tiet</a>
            </div>
        </div>
    </a>
</div>
