<!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-2 text-uppercase text-white mb-md-4">Chi tiết blog</h1>
            <a href="/" class="btn btn-primary py-md-3 px-md-5 me-3">Trang chủ</a>
            <a href="/blog/page/1" class="btn btn-light py-md-3 px-md-5">Blog</a>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="/public/img/blog/{{blog.image}}" alt="">
                    <h1 class="text-uppercase mb-4 blog_name">{{blog.name_blog}}</h1>
                    <p class="blog_description">{{blog.description}}</p>
                </div>
                {{#if session.user}}
                <div class="mb-3">
                    <form id="comment-form" method="post" action="/blog/id/{{blog.blog_id}}">
                        <label for="" class="form-label">Viết bình luận</label>
                        <input class="form-control mb-4" id="comment-new" name="comment_new"
                            placeholder="Write something.." rows="3"></input>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Bình luận</button>
                        </div>
                    </form>
                </div>
                {{else}}
                <a class="requirelogin" href="/user/login"> Hãy đăng nhập để viết bình luận </a>
                {{/if}}

                <!-- Comment List Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">{{comment.length}} Comments</h3>
                    {{#each comment}}
                    <div class="flex-comment">
                        <ul id="comments"> </ul>
                        {{!-- {{#if this.id_rep_comment }}
                        <div class="d-flex ms-5 mb-4">
                            <img src="/public/img/user/{{image}}" class="img-fluid rounded"
                                style="width: 45px; height: 45px;">
                        </div>
                        <div class="ps-3">
                            <h6><a class="nav-link" ref="">{{this.name}}</a> <small><i>{{this.date}}</i></small></h6>
                            <p class="blog_description">{{this.description}}</p>
                            <button class="btn btn-sm btn-secondary">Trả lời</button>
                        </div>
                        {{else}} --}}
                        <div class="d-flex mb-4">
                            {{#if image}}
                            <img src="/public/img/user/{{image}}" class="img-fluid rounded"
                                style="width: 45px; height: 45px;">
                            {{else}}
                            <img src="/public/img/Avatar-trang.png" alt="" class="img-fluid rounded"
                                style="width: 45px; height: 45px;">
                            {{/if}}
                        </div>
                        <div class="ps-3">
                            <h6><a href="">{{this.name}}</a> <small><i>{{this.date}}</i></small></h6>
                            <p class="blog_description">{{this.description}}</p>
                            <button class="btn btn-sm btn-secondary">Trả lời</button>
                        </div>
                        {{!-- {{/if}} --}}
                    </div>
                    {{/each}}
                </div>
                <!-- Comment List End -->
            </div>
        </div>
        <div class="col-lg-4 col-md-8 p-0">
            <div class="sidebar-option">
                <div class="so-categories">
                    <h5 class="title">Danh mục</h5>
                    <ul>
                        {{#each topic}}
                        <li><a href="/blog/topic/{{this.topic_id}}/1" name="{{this.topic_id}} "> {{this.name}}
                                <span>{{this.count}} </span></a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="so-latest">
                    <h5 class="title">Những bài viết mới</h5>
                    {{#each new_blog}}
                    <div class="latest-large set-bg" data-setbg="/public/img/blog/{{image}}">
                        <div class="ll-text">
                            <h5><a href="/blog/{{blog_id}}">{{name}}</a></h5>
                            <ul>
                                <li>{{date_create_blog}}</li>
                            </ul>
                        </div>
                    </div>
                    {{/each}}
                    {{#each new_blogs}}
                    <div class="latest-item">
                        <div class="li-pic">
                            <img class="img-newblog" src="/public/img/blog/{{image}}" alt="">
                        </div>
                        <div class="li-text">
                            <h6><a href="/blog/{{blog_id}}">{{name}}</a></h6>
                            <span class="li-time">{{date_create_blog}}</span>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="so-tags">
                    <h5 class="title">Popular tags</h5>
                    <a href="#">Gyming</a>
                    <a href="#">Body buidling</a>
                    <a href="#">Yoga</a>
                    <a href="#">Weightloss</a>
                    <a href="#">Proffeponal</a>
                    <a href="#">Streching</a>
                    <a href="#">Cardio</a>
                    <a href="#">Karate</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->