<div class="infor_user">
    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="class-details-text">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <div class="cd-single-item">
                                    <h3>{{session.user.name}}</h3>
                                </div>
                            </div>
                            <div class="cd-trainer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cd-trainer-pic">
                                            {{#if session.user.image}}
                                            <img src="{{session.user.image}}" alt="">
                                            {{else}}
                                            <img src="/public/img/Avatar-trang.png" alt="">
                                            {{/if}}
                                        </div>
                                        <div>
                                            Điểm hội viên : 100đ
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cd-trainer-text">
                                            <div class="trainer-header">
                                                <div class="trainer-title">
                                                    <h4>{{session.user.name}}</h4>
                                                    {{#ifCond session.user.role "==" "3"}}
                                                    <span>Quản trị viên</span>
                                                    {{else ifCond session.user.role "==" "2"}}
                                                    <span>Huấn luyện viên</span>
                                                    {{else}}
                                                    <span>Học viên</span>
                                                    {{/ifCond}}
                                                </div>
                                                <div class="col-lg-5 px-5 text-end ">
                                                    <div class="d-inline-flex align-items-center py-2">
                                                        <a class="btn btn-light btn-square rounded-circle me-2"
                                                            href="{{session.user.fb_link}}">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                        <a class="btn btn-light btn-square rounded-circle me-2"
                                                            href="{{session.user.insta_link}}">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                        <a class="btn btn-light btn-square rounded-circle"
                                                            href="{{session.user.yt_link}}">
                                                            <i class="fab fa-youtube"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="trainer-info">
                                                {{#ifCond session.user.gender "==" "nu"}}
                                                <li><span>Giới tính</span>Nữ</li>
                                                {{else}}
                                                <li><span>Giới tính</span>Nam</li>
                                                {{/ifCond}}
                                                <li><span>Cân nặng</span>{{session.user.weight}}</li>
                                                <li><span>Chiều cao</span>{{session.user.height}}</li>
                                                <li><span>Chỉ số BMI</span>{{bmi}}</li>
                                                {{#if session.user.birthday }}
                                                <li><span>Năm sinh</span>{{session.user.birthday}}</li>
                                                {{else}}
                                                <li><span>Năm sinh</span>00/00/0000 </li>
                                                {{/if}}
                                                <li><span>Địa chỉ</span>{{session.user.address}}</li>
                                                <li>
                                                    <a href="/user/change_info"
                                                        class="btn btn-primary py-md-3 px-md-5 d-lg-block">Chỉnh sửa
                                                        thông tin</a>
                                                </li>
                                            </ul>

                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <div class="history">
        <h6 class="mb-4">lịch sử tập luyện</h6>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Lớp</th>
                    <th scope="col">Ngày diễn ra buổi học</th>
                    <th scope="col">Giờ diễn ra buổi học</th>
                    <th scope="col">Checkin</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Phòng tập</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                {{#each history}}
                <tr>
                    <th scope="row">{{name}}</th>
                    <td>{{join_date}}</td>
                    <td>{{start_time}} - {{end_time}}</td>
                    <td>{{registration_time}}</td>
                    {{#ifCond cancellation_time "!=" "Invalid date"}}
                    <td>{{cancellation_time}}</td>
                    {{else}}
                    <td>Tham gia</td>
                    {{/ifCond}}
                    <td>phòng {{room_address}}</td>
                    <td><button> Huỷ lớp</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>