<div class="container-xxl position-relative bg-white d-flex p-0">

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control border-0" name="search_class" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        {{#if session.user.image}}
                        <img class="rounded-circle me-lg-2" src="/public/img/user/{{session.user.image}}" alt="avatar"
                            style="width: 50px; height: 50px;">
                        {{else}}
                        <img src="/public/img/Avatar-trang.png" alt="avatar" style="width: 40px; height: 40px;">
                        {{/if}}
                        <span class="d-none d-lg-inline-flex">{{session.user.name}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="/info" class="dropdown-item">Thông tin cá nhân</a>
                        <a href="/user/logout" class="dropdown-item">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Lượng đăng ký trong ngày</p>
                            <h6 class="mb-0">{{value.count_day}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Lượng đăng ký trong tháng</p>
                            <h6 class="mb-0">{{value.count_month}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Số buổi đang được tổ chức</p>
                            <h6 class="mb-0">{{value.count_allclass}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Tổng số người đã tham gia</p>
                            <h6 class="mb-0">{{value.all_hv}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->

        {{!--
        <!-- Sales Chart Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Biểu đồ theo ngày tham gia</h6>
                        <canvas id="char_join_date"></canvas>
                        <input hidden="hidden" id="join_date" value="{{value.join_date}}">
                        <input hidden="hidden" id="sl_theongay" value="{{value.sl_theongay}}">
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Biểu đồ theo buổi học</h6>
                        <canvas id="myChart"></canvas>
                        <input hidden="hidden" id="so_luong_dk" value="{{value.so_luong_dk}}">
                        <input hidden="hidden" id="class_name" value="{{value.class_name}}">
                    </div>
                </div>
            </div>
        </div>
        <!-- Sales Chart End --> --}}


        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Danh sách các buổi trong tuần( {{#component value.days 2}}{{/component}} -
                        {{#component value.days 7}}{{/component}} )</h6>
                    <a class="hover_coler" href="/class/create">Tạo buổi học</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                {{!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> --}}
                                <th scope="col">STT</th>
                                <th scope="col">Buổi</th>
                                <th scope="col">Giờ bắt đầu</th>
                                <th scope="col">Thứ</th>
                                <th scope="col">Phòng</th>
                                <th scope="col">Học viên</th>
                                <th scope="col">Giảng viên</th>
                                <th scope="col">Thay đổi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each value.all_class}}
                            <tr>
                                {{!-- <td><input class="form-check-input" type="checkbox"></td> --}}
                                <td>{{stt}}</td>
                                <td>{{name}}</td>
                                <td>{{start_time}}</td>
                                <td>{{weekday}}</td>
                                <td>{{room_address}}</td>
                                <td>{{count_hv}}/{{maximum}}</td>
                                <td>{{trainer}}</td>
                                <td>
                                    <form method="POST" action="/class/delete_class"
                                        class="manage_user btn btn-sm btn-primary">
                                        <input hidden="hidden" name="class_id" value="{{class_id}}">
                                        <button class="btn-primary">Xoá</button>
                                    </form>
                                    <form action="/class/change_class" class="btn btn-sm btn-primary">
                                        <input hidden="hidden" name="class_id" value="{{class_id}}">
                                        <button class="btn-primary">Chỉnh sửa</button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->

    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>