<!-- Team Start -->
<div class="container-fluid p-5 ">
    <div class="pt-row">
        <div class="mb-5 text-center pt-title">
            <h1 class="display-3 text-uppercase mb-0">Những chuyên gia</h1>
            <h5 class="text-primary text-uppercase">của chúng tôi</h5>
        </div>
        <div class="search-pt">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tìm kiếm huấn luyện viên</label>
                    <input type="text" class="form-control" name="search_pt">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row g-5">
        {{#each pt}}
        <div class="col-lg-4 col-md-6">
            <div class="team-item position-relative">
                <div class="position-relative overflow-hidden rounded">
                    <img class="img-fluid w-100 image-pt" src="/public/img/user/{{image}}" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="{{yt_link}}"><i
                                    class="fab fa-youtube"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="{{fb_link}}"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="{{insta_link}}"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4"
                    style="background: rgba(34, 36, 41, .9);">
                    <h5 class="text-uppercase text-light">{{name}} - {{user_id}}</h5>
                    <p class="text-uppercase text-secondary m-0">Huấn luyện viên</p>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="row">
            <!-- pagination -->
            <div class="row">
                <!-- hiển thị phân trang nếu có trang -->
                {{#ifCond numPage '>' 0}}
                <nav class="mx-auto">
                    <ul class="pagination">
                        <!-- FIRST ITEM -->
                        {{#ifCond current '==' 1}}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">First</a>
                            </li>
                        {{else}}
                        <li class="page-item">
                            <a class="page-link" href="/pt/page/1">First</a>
                        </li>
                        {{/ifCond}}

                        <!-- ITEMS  -->
                        {{#ifCond current '>' 3}}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                        {{/ifCond}}
                        {{#for current numPage}}
                        {{this}}
                        {{/for}}

                                <!-- LAST ITEM -->
                        {{#ifCond current '==' numPage}}
                        <li class="page-item disabled">
                        <a class="page-link" href="#">Last</a> </li>
                        {{else}}
                        <li class="page-item">
                        <a class="page-link" href="/pt/page/{{numPage}}"> Last </a> </li>
                        {{/ifCond}}
                    </ul>
                </nav>
                {{/ifCond}}
            </div>

        </div>
    </div>
    <!-- Team End -->